a {
  font-weight: 500;
  text-decoration: none;
  padding: 4px 12px;
  margin: 2px;
  border-bottom: 2px solid transparent;
}
a:hover{
  transform: translateY(-2px);
}
ul{
  display: flex;
}
nav {
  position: fixed;
  width: 80%;
  border-radius: 0px 0px 20px 20px;
  z-index: 6;
  background: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 0px;
  transition: ease-in-out  .7s;
}
.colored{
  background: linear-gradient(135deg, #02020a, #02020a, #040d1a, #240324);
  opacity: 1;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.navImg {
  height: 7vh;
}
.configs {
  display: flex;
}
.menuImg {
  height: 5vh;
}
.navTitle {
  display: flex;
  align-items: center;
}
.active {
  border-bottom: 2px solid snow;
  transition: ease 0.3s;
}
.active:hover {
  transform: translateY(-2px);
}
.colorH1 {
  color: #ffd670;
}
h1 {
  display: flex;
}
